<a href="https://colab.research.google.com/github/asya390/doit_pandas/blob/master/5%ED%9A%8C%EA%B8%B0%EC%B6%9C%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

In [ ]:
import pandas as pd
import numpy as np

In [16]:
import math

In [9]:
a = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv" , encoding='cp949')

In [ ]:
a.head(4)

In [17]:
mean = a[(a['사용대상'] == '가정용') & (a['용도'] == '음식물쓰레기') & (a['2L가격'] > 0)]['2L가격'].mean()
result = math.trunc(mean)

In [18]:
print(result)

119

In [19]:
b = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv" , encoding='cp949')

In [ ]:
b.head(4)

In [ ]:
b[(b.Weight / (b.Height * b.Height) >= 18.5) & (b.Weight / (b.Height * b.Height) < 23)]

In [27]:
b['bmi'] = b.Weight / (b.Height * b.Height * 0.0001)

In [36]:
normal_cnt = b[(b.bmi >= 18.5) & (b.bmi < 23)]['bmi'].count()

In [37]:
ex_cnt = b[(b.bmi >= 23) & (b.bmi < 25)]['bmi'].count()

In [54]:
print(normal_cnt - ex_cnt)

28

In [39]:
students = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/503_students.csv" , encoding='cp949')

In [ ]:
students.head()

In [41]:
students['순 전입학생'] = students['총 전입학생'] - students['총 전출학생']

In [42]:
students.head()

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생
0  A   1       9       1      222       8
1  A   2      13       4      148       9
2  A   3       8       7      196       1
3  B   1       7       5      171       2
4  B   2       9       1      216       8

In [43]:
students['순 전입학생'].max()

9

In [47]:
students.groupby('학교')['순 전입학생'].sum()

학교
A    18
B    13
C    -9
D     7
E    14
F     1
G    10
H    -1
Name: 순 전입학생, dtype: int64

In [48]:
students.groupby('학교')['전체 학생 수'].sum()

학교
A    566
B    588
C    528
D    548
E    603
F    481
G    618
H    602
Name: 전체 학생 수, dtype: int64

In [63]:
res_df = students.groupby('학교').agg({'전체 학생 수':sum, '순 전입학생':sum})
type(res_df)
res_df.head()
result = res_df[res_df['순 전입학생'] == res_df['순 전입학생'].max()]['전체 학생 수'][0]
result

566